<div class="main-page">
  <div><%= render 'layouts/navbar' %></div>
  <div class="container-fluid my-5 shadow-lg" style="background-image: url(<%= asset_path('bck2.jpg')%>);">
    <div class="row text-center p-4 pb-0 pe-lg-0  align-items-center border shadow-lg">
      <div class="col">
        <img class="mt-3" src="<%=asset_path('about-section.png')%>" style= "width: 300px; height: 300px; border-radius: 50%;">
        <h2 class="mt-3">Hi!!.. I'M VISHWANI RAJPUT</h2>
        <p class="fs-5 fw-bold">( A Full Stack Developer, From Delhi-India! )</p>
      </div>
    </div>
  </div>

  <div class="container-fluid my-5">
  <div class="row text-center p-4 pb-0 pe-lg-0 py-lg-3 align-items-center ">
    <div class="col">
      <hr class="featurette-divider mx-5 text-light">
        <h1 class="text-white">Being A Full Stack Developer</h1>
        <p class="fs-5">( It’s amazing how much ground is constantly being broken in this field, So constantly learning new concepts and technologies )</p>
       <hr class="featurette-divider mx-5 text-light">
          <div class="container my-5 rounded-3 border shadow-lg" style="background-color: white;">
            <div class="row text-center  pb-0 pe-lg-0 py-lg-3 align-items-center">
                <div class="container marketing my-3">
                  <h1 class="text-dark">Explore The Portfolio</h1>
                  <hr class="featurette-divider mx-5 text-dark">
                  <div class="row text-center">
                    <div class="col-lg-4 my-5">
                        <img src="<%= asset_path('about_logo.png')%>" class="bd-placeholder-img", style= "width: 180px; height: 180px;" >
                      <h2 class="my-3 text-dark">About Me</h2>
                      <%= link_to "Read More »", about_path, class: "btn btn-outline-dark  fs-5 d-grid gap-2 d-md-block" %>
                    </div>
                    <div class="col-lg-4 my-5">
                        <img src="<%= asset_path('skill_logo2.png')%>" class="bd-placeholder-img ", style= "width: 180px; height: 180px;" >
                      <h2 class="my-3 text-dark">My Skills</h2>
                      <%= link_to "View »", skills_path, class: "btn btn-outline-dark  fs-5 d-grid gap-2 d-md-block" %>
                    </div>
                    <div class="col-lg-4 my-5">
                        <img src="<%= asset_path('project_logo.png')%>" class="bd-placeholder-img", style= "width: 180px; height: 180px;" >
                      <h2 class="my-3 text-dark">Projects</h2>
                      <%= link_to "View »", projects_path, class: "btn btn-outline-dark  fs-5 d-grid gap-2 d-md-block" %>
                    </div><!-- /.col-lg-4 --> 
                  </div>
                </div>
            </div>
          </div>
      <hr class="featurette-divider mx-5 text-light my-5">     
    </div>
  </div>
</div>
</div>