<div class="main-about-page">
  <%= render 'layouts/navbar' %>
    <div class="container-fluid ">
      <div class="row text-center p-1  align-items-center ">
        <div class="col-2">
          <%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, root_path, class:"mx-5 text-white fs-2 align-items-start "%> 
        </div>
        <div class="col-8">
          <h2 class="text-center">SOCIAL HANDLES</h2>    
        </div>
      </div>
    </div>
    <hr class="featurette-divider mx-5 text-light">
      <div class="container marketing my-5">

        <!-- Three columns of text below the carousel -->
        <div class="row text-center">
          <div class="col-lg-4 ">
            <img src="<%= asset_path('fb.png')%>", class="bd-placeholder-img rounded-circle" style= "width: 180px; height: 180px;">

            <h2>Facebook</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-outline-light" href="https://www.facebook.com/">View Profile »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
             <img src="<%= asset_path('ig.png')%>", class="bd-placeholder-img rounded-circle" style= "width: 180px; height: 180px;">

            <h2>Instagram</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-outline-light" href="https://www.instagram.com/accounts/login/">View Profile »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
             <img src="<%= asset_path('twitter.png')%>", class="bd-placeholder-img rounded-circle" style= "width: 180px; height: 180px;">
            <h2>Twitter</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-outline-light" href="https://twitter.com/i/flow/login">View Profile »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
    <hr class="featurette-divider mx-5 text-light">
      <div class="container marketing my-5">
        <div class="row text-center">
          <div class="col-lg-4">
             <img src="<%= asset_path('linkedIn.png')%>", class="bd-placeholder-img rounded-circle" style= "width: 200px; height: 200px;">

            <h2>Linkedln</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-outline-light" href="https://www.linkedin.com/login">View Profile »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
             <img src="<%= asset_path('github.png')%>", class="bd-placeholder-img rounded-circle" style= "width: 200px; height: 200px;">

            <h2>Github</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-outline-light" href="https://github.com/login">View Profile »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
             <img src="<%= asset_path('gmail.png')%>", class="bd-placeholder-img rounded-circle" style= "width: 200px; height: 200px;">
            <h2>Gmail</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-outline-light" href="https://accounts.google.com/v3/signin/identifier?dsh=S957263522%3A1663667229063621&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&emr=1&flowEntry=ServiceLogin&flowName=GlifWebSignIn&ltmpl=default&ltmplcache=2&osid=1&passive=true&rm=false&scc=1&service=mail&ss=1&ifkv=AQDHYWoZ1Y4K72Oi2q2ei5ls8XR4OAyNAmZZdQXMV7E74s2SWKe1TOQSl7GKRzuT0LGKYQUXKZan">View Profile »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
      </div>
  </div>  
</div>