<%= form_with(model: @software, url: software_index_path, method: :post) do |form|%>
  <% if @software.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@software.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
        <% @software.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <span onchange="loadFile(event)"><%= form.file_field :image %></span>
    <p class="logo-image"><img id="output" width="200px;"/></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>







<script>
var loadFile = function(event) {
  var image = document.getElementById('output');
  image.src = URL.createObjectURL(event.target.files[0]);
};
</script>