<div class="main-page">
  <div><%= render 'layouts/navbar' %></div>
  <div class="container-fluid my-3 shadow-lg bg-light ">
    <div class="row text-center px-3 align-items-center py-3">
      <div class="col-2 ">
        <%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, root_path, class:"mx-5 text-dark fs-1 align-items-start "%>
      </div>
      <div class="col-8">
        <h2 class="text-dark">Projects</h2>
      </div>
      <div class="col-2">
        <img src="<%=asset_path('project_logo.png')%>" style= "width: 60px; height: 60px;" >
      </div>
    </div>
  </div>
  <hr class="featurette-divider mx-5 text-light">
      <div class="container marketing my-5">
        <div class="row text-center">
          <% @projects.each do |project| %>
            <div class="col-lg-4 ">
              <% if project.photo.attached? %>
                    <%= image_tag project.photo,class:"bd-placeholder-img rounded-circle", style: "width: 180px; height: 180px;" %>
                  <%end%>

              <h2><%= project.name%></h2>
              <p><%#  = truncate(strip_tags(project.about),length: 120) %></p>
              <p><%= project.url %></p>
              <p><a class="btn btn-outline-light" href="#">View »</a></p>
            </div><!-- /.col-lg-4 -->
          <%end%>
        </div><!-- /.row -->
      </div>
      </div>
</div>
<%= link_to 'New Project', new_project_path %>