<div class="main-page">
  <div><%= render 'layouts/navbar' %></div>
  <div class="container-fluid my-3 shadow-lg bg-light ">
    <div class="row text-center px-3 align-items-center py-3">
      <div class="col-12 ">
        <%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, posts_path, class:"mx-5 text-dark fs-1 align-items-start "%>
      </div>
    </div>
  </div>
  <hr class="featurette-divider mx-5 text-light">
    <div class="container bg-light my-5 rounded-3 border shadow">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center ">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="text-dark fw-bold lh-1"><%= @post.title %></h1>
          <p class="lead fs-3 fst-italic my-5"><%= @post.description %></p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden ">
            <% if @post.image.attached? %>
                    <%= image_tag @post.image, class:"bd-placeholder-img", style: "width: 500px; height: 500px;" %>
                <%end%>
        </div>
      </div>
</div>
<hr class="featurette-divider mx-5 text-light">     