<%= form_with(model: @contact, url: '/contact', method: :post) do |f|%>  
<div class="row">
    <div class="col-md-6 col-lg-6 field">
      <%= f.text_field :name, class: 'form-control bg-light', placeholder: 'YOUR NAME', required: true %>
    </div>
    <div class="col-md-6 col-lg-6 field">
      <%= f.email_field :email, class: 'form-control bg-light', placeholder: 'YOUR EMAIL', required: true %>
    </div>
    <div class="col-md-12 col-lg-12 field">
      <%= f.text_field :subject, class: 'form-control bg-light', placeholder: 'YOUR SUBJECT' %>
    </div>
    <div class="col-md-12 col-lg-12 field">
      <%= f.text_area :message, class: 'form-control form-message bg-light', placeholder: 'YOUR MESSAGE', required: true %>
    </div>
    <div class="col-md-12 col-lg-12 submit-button">
      <%= f.submit 'Send Message', class: 'btn w-100' %>
    </div>
  </div>
<% end %>
